*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: $color-primary;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  line-height: 1.6;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
