%heading {
  font-family: $font-primary;
  font-weight: 400;
}

.heading-primary {
  @extend %heading;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .3rem;
  animation: MoveInRight 1.3s ease-out;
  color: $color-secondary;

  &--sub {
    @extend %heading;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: .3rem;
    animation: MoveInRight 1.3s ease-out;
    color: $color-secondary;
  }
}

.heading-tertiary {
  color: $color-secondary;
  font-size: 3.5rem;
}

.paragraph {
  color: $color-primary;
  font-size: 3.5rem;
  letter-spacing: .3rem;
  display: inline-block;
  transition: all .3s;
  // backface-visibility: hidden;

  &:hover {
    transform: skewX(-10deg) skewY(-2deg) scale(1.1);
    text-shadow: $shadow;
    backface-visibility: hidden;
  }
}