%heading {
  font-family: $font-primary;
  font-weight: 400;
}

.heading-primary {
  @extend %heading;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .3rem;
  animation: MoveInRight 1.3s ease-out;
  color: #fff;

  &--sub {
    @extend %heading;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: .3rem;
    animation: MoveInRight 1.3s ease-out;
    color: #fff;
  }
}