.about {
  background-color: $color-white;
  padding: 25rem 0;
  transform: skewY(-7deg);
  margin-top: -12rem;

    & > * {
        transform: skewY(7deg);
      }

    &__wrapper {
      max-width: 50vw;
      text-align: center;
      margin: 0 auto;
    }
}

.background {
    background-color: $color-black;
    transform: skewY(-7deg);
    padding: 20rem 0;
    overflow: hidden;
    height: 70vh;
    &-wrapper {
      transform: skewY(7deg);
    }
}

.portfolio {
  background-color: $color-black;
  color: $color-white;
  padding: 20rem 0;
  position: relative;
  top: -12rem;
  &-item {
    margin-top: 1rem;
    &__img--desk {
      width: 55%;
    }
    &__img--phone {
      width: 20%;
    }
    &__img-wrapper {
      display: flex;
      justify-content: space-evenly;
    }
  }
}