.about {
  background-color: $color-secondary;
  padding: 25rem 0;
  transform: skewY(-7deg);
  margin-top: -12rem;

  & > * {
    transform: skewY(7deg);
  }

  &__wrapper {
    max-width: 50vw;
    text-align: center;
    margin: 0 auto;
  }
}

.background {
  background-color: $color-primary;
  transform: skewY(-7deg);
  padding: 20rem 0;
  overflow: hidden;
  height: 70vh;
  position: relative;
  margin-bottom: -12rem;
  &-wrapper {
    transform: skewY(7deg);
  }
}

.portfolio {
  background-color: $color-primary;
  color: $color-secondary;
  padding: 20rem 2rem;
  position: relative;
  &-item {
    display: flex;
    &__img--desk {
      max-width: 60%;
    }
    &__img--phone {
      max-width: 24%;
    }
    &__img-wrapper {
      display: flex;
      gap: 1rem;
      flex-basis: 75%;
    }
    &__info {
      flex-basis: 35%;
      border-left: 1px solid $color-secondary;
      padding-left: 5rem;
    }
    &__desc {
      padding-top: 5rem;
    }
    &__skill {
      display: inline-block;
      text-transform: uppercase;
      color: $color-secondary;
      background-color: $color-primary;
      transition: all 0.2s;
      font-size: 2rem;

      &:not(:last-child) {
        margin-right: 3.5rem;
      }

      &:hover {
        color: $color-secondary;
        box-shadow: 0 1rem 2rem rgba($color-secondary, 0.4);
        transform: rotate(5deg) scale(1.3);
      }
    }
    &__btn {
      padding-top: 7rem;
    }
  }
}
